<h2>Password reset request</h2>
<p>Hi {{firstName}},</p>
<p>We received a request to reset your password. Click the button below to reset it. This link will expire in {{expiresIn}} minutes.</p>
{{> button url=resetUrl text="Reset password"}}
<p>If you didn't request this, you can safely ignore this email.</p>
