<table width="100%" style="background:#f8f9fb;padding:20px 0;margin-top:20px">
  <tr>
    <td align="center">
      <small style="color:#6b7280">© {{year}} KleverBot. All rights reserved.</small>
    </td>
  </tr>
</table>
